<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zen.onlineclass">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.OnlineClass">
        <activity android:name=".ClassroomActivity" />
        <activity android:name=".TextbookActivity" />
        <activity android:name=".SaturdayActivity" />
        <activity android:name=".FridayActivity" />
        <activity android:name=".ThursdayActivity" />
        <activity android:name=".WednesdayActivity" />
        <activity android:name=".TuesdayActivity" />
        <activity android:name=".MondayActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>